/* 
    Document   : berryStyle
    Created on : Apr 23, 2013, 12:02:10 AM
    Author     : johnniepop
    Description: Main style features for the Cloudberry project
*/

root { 
    display: block;
}

